<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#3ec995"
             type="line-scale" [fullScreen]="false"><p style="color: white"> Đang tải... </p>
</ngx-spinner>
<div class="ant-breadcrumb-custom">
  <nz-breadcrumb>
    <nz-breadcrumb nzSeparator=">">
      <nz-breadcrumb-item>
        <a>Quản lý công việc</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>Danh sách công viêc</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-breadcrumb>
</div>
<div class="view-wrapper list-page">
  <dx-toolbar class="theme-dependent">
    <dxi-item location="before">
      <span class="toolbar-header"><i class="fa-solid fa-list-check" style="margin-right: 7px;"></i>Nhiệm vụ</span>
    </dxi-item>
    <dxi-item location="before">
    </dxi-item>

    <dxi-item location="after" locateInMenu="auto">
      <dx-button
        icon="plus"
        text="Tạo công việc"
        type="default"
        stylingMode="contained"
        (onClick)="addTask()"
      ></dx-button>
    </dxi-item>

    <dxi-item
      location="after"
      locateInMenu="auto"
      widget="dxButton"
      showText="inMenu"
      [options]="{
        text: 'Refresh',
        icon: 'refresh',
        onClick: refresh,
        stylingMode: 'text'
      }"
    ></dxi-item>

    <dxi-item
      location="after"
      locateInMenu="auto"
      widget="dxButton"
      showText="inMenu"
      [disabled]="!displayGrid"
      [options]="{
        text: 'Column Chooser',
        icon: 'columnchooser',
        onClick: chooseColumnDataGrid,
        stylingMode: 'text'
      }"
    ></dxi-item>

    <dxi-item location="after" locateInMenu="auto">
      <div class="separator"></div>
    </dxi-item>

    <dxi-item
      location="after"
      locateInMenu="auto"
      widget="dxButton"
      showText="inMenu"
      [disabled]="displayKanban"
      [options]="{
        text: 'Export to PDF',
        icon: 'exportpdf',
        onClick: exportToPdf,
        stylingMode: 'text'
      }"
    ></dxi-item>

    <!--    <dxi-item-->
    <!--      location="after"-->
    <!--      locateInMenu="auto"-->
    <!--      widget="dxButton"-->
    <!--      showText="inMenu"-->
    <!--      [disabled]="!displayGrid"-->
    <!--      [options]="{-->
    <!--        text: 'Export to Exel',-->
    <!--        icon: 'exportxlsx',-->
    <!--        onClick: exportDataGridToXSLX,-->
    <!--        stylingMode: 'text'-->
    <!--      }"-->
    <!--    ></dxi-item>-->

    <dxi-item
      class="search-wrapper"
      style="width: 200px!important; height: 40px!important; line-height: 40px;"
      location="after"
      locateInMenu="auto"
      widget="dxTextBox"
      [disabled]="!displayGrid"
      [options]="{
        placeholder: 'Tìm kiếm công việc',
        mode: 'search',
        onInput: searchDataGrid
      }"
    ></dxi-item>
  </dx-toolbar>
  <div class="wrapper-body">
    <div class="grid">
      <app-task-list-grid
        #planningDataGrid
        [dataSource]="lstTask"
        (tabValueChanged)="tabValueChange($event)"
      >
      </app-task-list-grid>
    </div>
    <div class="kanban">
      <app-task-board-management
        #planningKanban
        [dataSource]="lstTaskFilter"
        (addTaskEvent)="addTask()"
      ></app-task-board-management>
    </div>
  </div>
  <ng-template #loading>
    <dx-load-panel
      [visible]="true"
      [showPane]="false"
      container=".content"
      [position]="{ of: '.content' }"
    >
    </dx-load-panel>
  </ng-template>
  <!--  <form-popup [(visible)]="isAddTaskPopupOpened" (save)= "onClickSaveNewTask()" titleText="New Task">-->
  <!--    <task-form [task]="newTask" [isCreateMode]="true"></task-form>-->
  <!--  </form-popup>-->
</div>
